{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Open Bracket</title>
		<link rel="stylesheet" href="/static/css/output.css">
		<script src="https://unpkg.com/htmx.org"></script>
	</head>
	<body class="bg-background text-text">
		<nav class="bg-gray-200 dark:bg-gray-800 px-4 py-2 shadow-md flex justify-between">
			<ul class="flex space-x-4">
				<li><a href="/" class="hover:text-blue-500">Home</a></li>
			</ul>
			<button
				class="px-4 py-2 text-white rounded"
				onclick="document.documentElement.classList.toggle('dark'); localStorage.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';"
			>
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" class="fill-current text-gray-800 dark:text-gray-100">
					<path d="M19.05 17.98A12.035 12.035 0 0 1 7.02 5.95 11.821 11.821 0 0 1 8.09 1 12.03 12.03 0 1 0 24 16.91a11.821 11.821 0 0 1-4.95 1.07z"/>
				</svg>
			</button>
		</nav>
		<div class="container">
			<main>
				{{ template "content" . }}
		</main>
	</div>
</body>

<script>
  // Apply saved theme or default to system preference
  const savedTheme = localStorage.getItem('theme');
  const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

  if (savedTheme === 'dark' || (!savedTheme && systemPrefersDark)) {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark');
  }

  // Function to toggle theme and save to localStorage
  function toggleTheme() {
    const isDarkMode = document.documentElement.classList.toggle('dark');
    localStorage.setItem('theme', isDarkMode ? 'dark' : 'light');
  }
</script>
</html>
{{ end }}
