{{ define "content" }}
<div>
	<form hx-post="/generate-bracket" hx-target="#bracket-container" hx-swap="innerHTML">
		<label for="num_entrants">Number of Entrants:</label>
		<input type="number" id="num_entrants" name="num_entrants" min="2" required>
		<input type="hidden" name="tournament_id" value="{{ .TournamentID }}">
		<button type="submit">Generate Bracket</button>
	</form>
</div>

<div id="bracket-container"></div>
{{ end }}

{{ define "bracket" }}
<div class="flex justify-center gap-8 my-8 h-full">
	{{ range $i, $round := . }}
	<div class="flex flex-col items-center relative justify-around">
	<p class="absolute top-0 text-lg font-bold">Round {{ add $i 1 }}</p>
	<div class="flex flex-col items-center justify-around h-full w-full pt-8 gap-6">
		{{ range $j, $match := $round.Matches }}
		<div class="relative flex flex-col items-center">
			<div class="z-0 relative flex items-center justify-center w-40 h-12 bg-gray-100 border border-gray-300 rounded shadow-md">
				<div class="text-sm font-semibold text-gray-700">{{ (index $match.Entrants 0).Name }}</div>
			</div>
			<svg class="z-10 absolute top-1/2 -translate-y-1/2" width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M3 0L6.58579 3.58579L3.58579 6.58579L0 3V0H3Z" fill="#000000"/>
				<path d="M6.70711 12.2929L8.20711 13.7929L6.79289 15.2071L4.5 12.9142L2.99771 14.4165C2.99923 14.4441 3 14.472 3 14.5C3 15.3284 2.32843 16 1.5 16C0.671573 16 0 15.3284 0 14.5C0 13.6716 0.671573 13 1.5 13C1.52802 13 1.55586 13.0008 1.5835 13.0023L3.08579 11.5L0.792893 9.20711L2.20711 7.79289L3.70711 9.29289L13 0H16V3L6.70711 12.2929Z" fill="#000000"/>
				<path d="M14.5 16C13.6716 16 13 15.3284 13 14.5C13 14.472 13.0008 14.4441 13.0023 14.4165L10.0858 11.5L13.7929 7.79289L15.2071 9.20711L12.9142 11.5L14.4165 13.0023C14.4441 13.0008 14.472 13 14.5 13C15.3284 13 16 13.6716 16 14.5C16 15.3284 15.3284 16 14.5 16Z" fill="#000000"/>
			</svg>
			<div class="z-0 relative flex items-center justify-center w-40 h-12 bg-gray-100 border border-gray-300 rounded shadow-md">
				<div class="text-sm font-semibold text-gray-700">{{ (index $match.Entrants 1).Name }}</div>
			</div>
		</div>
		{{ end }}
	</div>
</div>
{{ end }}
</div>
{{ end }}
